﻿@using Fr.EQL.AI110.DLD_GE.Entities;
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model CreateDonViewModel

<div class="selection-main-container">
    <h1 class="function-title">Choissisez l'unité et la date limite de consommation</h1>
    <div class="selection-container">
        <form method="post" asp-action="ChoixAvantDepotAdresse">
            <div class="selection">
                <div class="selection-line">
                    <span class="selection-title">Adhérent selectionné : </span>
                    <span class="selectionned">@Model.SelectedAdherent.Nom</span>
                </div>
                <div class="selection-line">
                    <span class="selection-title">Catégorie selectionné : </span>
                    <span class="selectionned">@Model.SelectedCategorie.Nom</span>
                </div>
                <div class="selection-line">
                    <span class="selection-title">Sous-Categorie selectionné : </span>
                    <span class="selectionned">@Model.SelectedSousCategorie.Nom</span>
                </div>
                <div class="selection-line">
                    <span class="selection-title">Produit selectionné : </span>
                    <span class="selectionned">@Model.SelectedProduit.NomProduit</span>
                </div>
                <div class="selection-line">
                    <span class="selection-title">Quantité : </span>
                    <input asp-for="@Model.Don.Quantite" />
                    <select asp-for="@Model.SelectedUnity.IdUnite">
                        @foreach (Unite unity in Model.Unites)
                        {
                            <option value="@unity.IdUnite">@unity.Nom</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => Model.Don.Quantite)
                </div>
                <div class="selection-line">
                    <span class="selection-title">Date limite récupération : </span>
                    <input type="date" asp-for="@Model.Don.DateLimite" />
                </div>
                <input type="hidden" asp-for="@Model.SelectedAdherent.Idadh" />
                <input type="hidden" asp-for="@Model.SelectedCategorie.IdCategorie" />
                <input type="hidden" asp-for="@Model.SelectedSousCategorie.IdSousCategorie" />
                <input type="hidden" asp-for="@Model.SelectedProduit.IdProduit" />
                <div class="btn-command">
                    <input type="submit" value="Suivant" name="validate" class="next-btn" />
                </div>
            </div>
        </form>
    </div>
</div>