﻿@using Fr.EQL.AI110.DLD_GE.Entities
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model ReservationViewModel

<div class="basket-main-container">
    <h1>Panier de @Model.SelectedAdherent.Prenom @Model.SelectedAdherent.Nom</h1>
    <div class="basket-container">
        <div class="basket-products">
            @foreach (ReservationDetails r in Model.DonsInBasket)
            {
                <div class="product">
                    <img src="/images/product.jpg" />
                    <div class="product-info">
                        <h3 class="product-name">@r.NameProduit</h3>
                        <h4 class="product-other-info">Quantite : @r.NbQuantity @r.NameUnity</h4>
                        <h4 class="product-other-info">Périme le @r.ExpirationDate.ToString("dd MMMM yyyy")</h4>
                        <h4 class="product-other-info">Adresse : @r.NbStreet @r.NameStreet @r.PostalCode @r.NameCity</h4>
                        <form method="post" asp-action="RemoveFromBasket">
                            <input type="hidden" asp-for="@Model.IdSelectedDonToRemove" value="@r.IdDon" />
                            <input type="hidden" asp-for="@Model.SelectedAdherent.Idadh" />
                            <input class="remove" type="submit" value="Retirer du panier" />
                        </form>
                    </div>
                </div>
            }
        </div>
        <div class="basket-total">
            <p>
                <span>Nombre de produits</span>
                <span>@Model.DonsInBasket.Count()</span>
            </p>
            <form method="post" asp-action="MakeReservation">
                <input type="hidden" asp-for="@Model.SelectedAdherent.Idadh" />
                <input type="submit" value="Valider le panier" />
            </form>
        </div>
    </div>
</div>