﻿@using Fr.EQL.AI110.DLD_GE.Entities
@model List<ReservationDetails>

<div class="basket-main-container">
    <h1>Tous les paniers</h1>
    <div class="basket-container">
        <div class="basket-products">
            @if (Model.Count() != 0)
            {
                @foreach (ReservationDetails r in Model)
                {
                    <div class="product">
                        <img src="/images/product.jpg" />
                        <div class="product-info">
                            <h3 class="product-name">Panier de @r.NameAdherent</h3>
                            <h4 class="product-other-info">@r.NbArticles Article(s)</h4>
                            <a asp-action="DisplayBasket" asp-route-id="@r.IdAdh"><button class="details">Detail</button></a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="product">
                    <img src="/images/product.jpg" />
                    <div class="product-info">
                        <h3 class="product-name">Aucun adherent a de panier actif</h3>
                    </div>
                </div>
            }
        </div>
    </div>
</div>