﻿@{
    ViewData["Title"] = "Home Page";
}
@using Fr.EQL.AI110.DLD_GE.Entities
@model List<DonDetails>

<div class="container-zoneConcepte">
    <img src="/images/accueil.jpg"
         alt="Une photo de concept">
    <div class="centered">
        <div class="home-text">
            <h1>Bienvenue sur D.L.D</h1>
            <h3>Avant de jeter, ayez le reflexe</h3>
            <h3>Proposez vos dons en toute simplicité et soyez acteur d'un monde sans gaspillage</h3>
        </div>
    </div>
</div>

<div>
    <div class="search home-search">
        <input type="text" class="search-box" placeholder="Votre ville...">
        <button class="search-btn">Rechercher</button>
    </div>

    <div class="don-container">
        <div class="don-container-row">
            @foreach (DonDetails don in Model)
            {
                <div class="don-container-card-col">
                    <img src="images/productcard.jpg">
                    <form method="post" asp-controller="Reservation" asp-action="CatchDon">
                        <input type="hidden" asp-for="@don.IdDon" value="@don.IdDon" name="idDon" />
                        <input class="don-container-card-buy don-container-card-btn" type="submit" value="Ajouter au panier" />
                    </form>
                    <a asp-controller="don"
                   asp-action="InfosDon"
                   asp-route-id="@don.IdDon"
                   asp-route-controllerO="2">
                        <button class="don-container-card-btn">Voir le détail</button>
                    </a>
                    <h4>@don.Quantite @don.NomUnity de @don.NomProduit</h4>
                    <h4>Périme le @don.DateLimite.ToString("dd MMMM yyyy")</h4>
                    <h4>Proposé par @don.AdhPrenom</h4>
                    <h4>Disponible à @don.VilleNom</h4>
                </div>
            }
        </div>
    </div>
</div>