﻿<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - D.L.D.</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <div class="nav">
            <img src="/images/logo.png" class="brand-logo">
            <div class="nav-items">
                <div class="search">
                    <input type="text" class="search-box" placeholder="Quel produit?">
                    <button class="search-btn">Rechercher</button>
                    <a asp-controller="Recherche" asp-action="RechercheDonMultiCri">
                        <button class="search-btn advanced">Avancée</button>
                    </a>
                </div>
            </div>
            <div class="nav-basket-user">
                <a asp-controller="Reservation" asp-action="Index" class="basket-link">
                    <img src="/images/cart.png">
                </a>
                <div class="nav-connection-info">
                    <div>Non Connecté</div>
                    <div>0 coupon</div>
                </div>
                <a href="#" class="user-link">
                    <img src="/images/user.png"></i>
                </a>
            </div>
        </div>
    </header>
    <nav class="left-navbar">
        <ul class="dashboard">
            <li class="dashboard-item">
                <img src="/images/mainlogo.png" class="dashboard-logo">
                <a class="dashboard-link dashboard-text" asp-controller="Home" asp-action="Index"><h2 class="dashboard-title">Home</h2></a>
            </li>
        </ul>
        <ul class="dashboard">
            <li class="empty-item">
            </li>
            <li class="dashboard-item-title">
                <img src="/images/user.png" class="dashboard-logo">
                <h2 class="dashboard-title">Adherent</h2>
            </li>
            <li class="dashboard-item">
                <img src="/images/don.png" class="dashboard-logo">
                <a class="dashboard-link dashboard-text" asp-controller="Don" asp-action="Index">Mes Dons</a>
            </li>
            <li class="dashboard-item">
                <img src="/images/don.png" class="dashboard-logo">
                <a class="dashboard-link dashboard-text" asp-controller="Reservation" asp-action="DisplayAllAdherentsWithReservations">Mes Reservations</a>
            </li>
        </ul>
        <ul class="dashboard">
            <li class="empty-item">
            </li>
            <li class="dashboard-item-title">
                <img src="/images/partenaire.png" class="dashboard-logo">
                <h2 class="dashboard-title">Partenaire</h2>
            </li>
            <li class="dashboard-item">
                <img src="/images/infra.png" class="dashboard-logo">
                <a href="#" class="dashboard-link dashboard-text">Fonction 1</a>
            </li>
        </ul>
        <ul class="dashboard">
            <li class="empty-item">
            </li>
            <li class="dashboard-item-title">
                <img src="/images/admin.png" class="dashboard-logo">
                <h2 class="dashboard-title">Admin</h2>
            </li>
            <li class="dashboard-item">
                <img src="/images/partner.png" class="dashboard-logo">
                <a asp-controller="Partenaire" asp-action="IndexPartenaireParVille" class="dashboard-link dashboard-text">Mes Partenaires</a>
            </li>
        </ul>
        <ul class="about-contact">
            <li class="empty-item">
            </li>
            <li class="about-contact-item">
                <img src="/images/about.png" class="about-contact-logo">
                <a href="#" class="about-contact-link about-contact-text">A Propos</a>
            </li>
            <li class="about-contact-item">
                <img src="/images/contact.png" class="about-contact-logo">
                <a href="#" class="about-contact-link about-contact-text">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
