﻿@using Fr.EQL.AI110.DLD_GE.Entities
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model CreateDonViewModel

<form method="get">
    <input type="hidden" asp-for="@Model.SelectedAdherent.Idadh" />
    <input type="hidden" asp-for="@Model.SelectedCategorie.IdCategorie" />
    <input type="hidden" asp-for="@Model.SelectedSousCategorie.IdSousCategorie" />
    <input type="hidden" asp-for="@Model.SelectedProduit.IdProduit" />
    <input type="hidden" asp-for="@Model.Don.Quantite" />
    <input type="hidden" asp-for="@Model.SelectedUnity.IdUnite"/>
    <input type="hidden" asp-for="@Model.Don.DateLimite" />     
    <div class="search home-search">
        <select class="search-box" asp-for="Idville">
                <option value="">ville</option>
            @foreach (Ville v in Model.Villes)
                {
                    <option value="@v.Idville">@v.Nom</option>
                }
        </select>
        <input type="submit" class="search-btn" value="Trier" />
    </div>
 </form>  

   @foreach (InfrastockageDetails i in Model.InfrastockageDetails)
    {
    <div class="don-container-card-col" >
        <img src="/images/emplacement.png">
        <h3>@i.Nomsociete</h3>
        <h5>@i.Numrue @i.Libelevoie</h5>
        <h5>@i.Codepostal @i.Nom</h5>
        <h5>@i.NbEmpDispo</h5>
    </div>
    }